body {
    background-color: #000f08;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: transparent !important;
  }

.navbar-nav {
    margin-left: auto;
}